<template>
  <div>
    <section v-if="showFilter">
      <blog-filter @change-filter="setFilter"></blog-filter>
    </section>
    <section>
      <base-card>
        <div class="controls">
          <base-button mode="outline" @click="fetchBlogs">REFRESH</base-button>
        </div>
        <ul v-if="hasBlogs">
          <blog-item v-for="blog in filteredBlogs" :key="blog.id" :likes="blog.likes" :dislikes="blog.dislikes"
            :title="blog.title" :tags="blog.tags" :id="blog.id" :userName="blog.userName" :timestamp="blog.timestamp"
            @liked="updateLike" @disliked="updateDislike"></blog-item>
        </ul>
        <h3 v-else class="text-xl font-semibold text-center w-full my-16">
          No Blogs Found.
        </h3>
      </base-card>
    </section>
  </div>
</template>

<script setup>
import { ref, computed, watch } from 'vue';
import { useStore } from 'vuex';
import BlogItem from "./widgets/BlogItem.vue";
import BlogFilter from "./widgets/BlogFilter.vue";

const props = defineProps(["isLoggedIn"]);
const emit = defineEmits(["update-header"]);

const store = useStore();

const searchFilter = ref("");
const headerLinks = ref([
  {
    title: "Create Blog",
    link: true,
    to: "/createblog",
    callback: null,
  },
  {
    title: "My Profile",
    link: true,
    to: "/myprofile",
    callback: null,
  },
]);

function setFilter(searchString) {
  searchFilter.value = searchString;
}

function fetchBlogs() {
  store.dispatch("blogs/fetchBlogs");
}

function updateLike(id) {
  store.dispatch("blogs/updateLike", id);
}

function updateDislike(id) {
  store.dispatch("blogs/updateDislike", id);
}

const filteredBlogs = computed(() => {
  return store.getters["blogs/blogs"]
    .filter((blog) => blog.published)
    .filter((blog) =>
      blog.title.toLowerCase().includes(searchFilter.value.toLowerCase())
    );
});

const hasBlogs = computed(() => {
  return filteredBlogs.value.length > 0;
});

const showFilter = computed(() => {
  return hasBlogs.value || searchFilter.value.trim().length > 0;
});

watch(() => props.isLoggedIn, (value) => {
  if (value) {
    emit("update-header", headerLinks.value)
  }
});

if (props.isLoggedIn) {
  emit("update-header", headerLinks.value);
}
fetchBlogs();
</script>

<style lang="scss" scoped>
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.controls {
  display: flex;
  justify-content: space-between;
}
</style>