<template>
  <div>
    <section v-if="selectedBlog">
      <base-card>
        <div class="p-4">
          <h1 class="text-2xl font-semibold">{{ title }}</h1>
          <h3 class="text-sm">By: {{ author }} | Posted on: {{ timestamp }}</h3>
        </div>
        <div class="bottom-padding">
          <quill-editor theme="bubble" readOnly :content="content" :class="['text-base']" />
        </div>
        <!-- <div>LIKES {{ likes }} | DISLIKE {{ dislikes }}</div> -->
        <div class="p-4">
          <span>Tags :</span>&nbsp;
          <base-badge v-for="tag in tags" :key="tag" :title="tag"></base-badge>
        </div>
      </base-card>
    </section>
    <!-- <section>
      <base-card>
        <div>{{ comment }}</div>
      </base-card>
    </section> -->
  </div>
</template>

<script setup>
import { ref, computed, watch } from 'vue';
import moment from "moment";
import { useStore } from "vuex";

const props = defineProps(["id", "isLoggedIn"]);
const emit = defineEmits(["update-header"]);

const store = useStore();
const selectedBlog = computed(() => store.getters["blogs/selectedBlog"]);
const headerLinks = ref([
  {
    title: "Create Blog",
    link: true,
    to: "/createblog",
    callback: null,
  },
  {
    title: "My Profile",
    link: true,
    to: "/myprofile",
    callback: null,
  },
]);

function setBlog() {
  store.dispatch("blogs/fetchBlog", props.id);
}

const title = computed(() => {
  return selectedBlog.value.title;
});

const author = computed(() => {
  return selectedBlog.value.userName;
})
const timestamp = computed(() => {
  return moment(selectedBlog.value.timestamp).format("DD-MMM-YYYY");
})
const tags = computed(() => {
  return selectedBlog.value.tags;
})
const content = computed(() => {
  return selectedBlog.value.content;
})
const likes = computed(() => {
  return selectedBlog.value.likes;
})
const dislikes = computed(() => {
  return selectedBlog.value.dislikes;
})
const comment = computed(() => {
  return selectedBlog.value.commentId;
})

watch(() => props.isLoggedIn, (value) => {
  if (value) {
    emit("update-header", headerLinks.value);
  }
});

setBlog();
if (props.isLoggedIn) {
  emit("update-header", headerLinks.value);
}
</script>

<style lang="scss">
.ql-editor {
  font-family: Avenir;
}

.bottom-padding {
  margin-bottom: 2rem;
}
</style>