<template>
  <div>
    <section class="mb-4">
      <input type="text" placeholder="Enter Title" class="
          w-full
          p-4
          text-2xl
          outline-none
          font-semibold
          bg-transparent
          placeholder-white
        " v-model="title" />
    </section>
    <section class="mb-4">
      <quill-editor theme="snow" toolbar="full" v-model:content="blogContent" :options="options" :modules="modules"
        :class="['min-h-80', 'text-base', 'bg-gray-700']" />
    </section>
    <section>
      <tag-input @add-tag="addTag" @delete-tag="deleteTag" :tags="tags"></tag-input>
    </section>
    <!-- <section>
    <base-button mode="flat" :callback="showText">Save as draft</base-button>
  </section> -->
  </div>
</template>

<script setup>
import { ref, computed, watch } from 'vue';
import { useStore } from "vuex";
import { useRouter } from 'vue-router'
import firebase from "firebase";
import Util from "./../../util/utility";
import TagInput from "./widgets/TagInput.vue";
import ImageResize from "quill-image-resize-module";
import ImageCompress from "quill-image-compress";

const props = defineProps(['isLoggedIn']);
const emit = defineEmits(["update-header"]);
const store = useStore();
const router = useRouter();

const title = ref("");
const blogContent = ref({});
const blogId = ref(Util.getUniqueBlogId());
const tags = ref([]);
const options = ref({
  placeholder: "Create an epic..."
});

const modules = ref([
  {
    name: "imageResize",
    module: ImageResize,
  },
  {
    name: "imageCompress",
    module: ImageCompress,
    options: {
      quality: 0.7,
      maxWidth: 3000,
      maxHeight: 3000,
      imageType: "image/jpeg",
      debug: false,
    },
  }
]);

const publishBlog = async () => {
  if (title.value.trim().length == 0) {
    return;
  }

  await uploadImagesInContent();
  let newBlog = {
    userId: users.value.userId,
    userName: users.value.userName,
    title: title.value,
    content: blogContent.value,
    likes: 0,
    dislikes: 0,
    commentId: "c1",
    published: true,
    timestamp: Date.now(),
    tags: tags.value,
    id: blogId.value,
  };
  store.dispatch("blogs/createBlog", newBlog);
  router.push("/blogs");
}

const headerLinks = ref([
  {
    title: "Publish",
    link: false,
    to: "",
    callback: publishBlog,
  },
  {
    title: "My Profile",
    link: true,
    to: "/myprofile",
    callback: null,
  },
]);

function addTag(tag) {
  tags.value.push(tag);
}

function deleteTag(tag) {
  const index = tags.value.indexOf(tag);
  if (index > -1) {
    tags.value = [
      ...tags.value.slice(0, index),
      ...tags.value.slice(index + 1),
    ];
  }
}

async function showText() {
  await uploadImagesInContent();
  console.log("Completed");
  console.log(blogContent.value.ops);
}

async function uploadImagesInContent() {
  console.trace();
  console.log("hello");
  for (let i = 0; i < blogContent.value.ops.length; i++) {
    if (
      blogContent.value.ops[i].insert &&
      blogContent.value.ops[i].insert.image
    ) {
      const storageRef = firebase.storage().ref();
      const userRef = storageRef.child(
        `${users.value.userId}/${blogId}/fig${i}`
      );
      let imgUrl = blogContent.value.ops[i].insert.image;
      let snapshot = await userRef.putString(imgUrl, "data_url");
      let downloadURL = await snapshot.ref.getDownloadURL();
      blogContent.value.ops[i].insert.image = downloadURL;
    }
  }
}

const users = computed(() => {
  return {
    userId: store.getters["users/userId"],
    userName: store.getters["users/userName"],
  }
})

watch(() => props.isLoggedIn, (value) => {
  if (value) {
    emit("update-header", headerLinks.value);
  }
});

if (props.isLoggedIn) {
  emit("update-header", headerLinks.value);
}
</script>

<style lang="scss">
.ql-editor.ql-blank::before {
  color: white !important;
}

.ql-toolbar.ql-snow {
  background-color: white !important;
}
</style>
