<template>
  <div>
    <section class="mb-4">
      <input
        type="text"
        placeholder="Enter Title"
        class="w-full p-4 text-2xl outline-none font-semibold bg-transparent placeholder-white"
        v-model="title"
      />
    </section>
    <section class="mb-4">
      <quill-editor
        theme="snow"
        toolbar="full"
        v-model:content="blogContent"
        :options="options"
        :modules="modules"
        :class="['min-h-80', 'text-base', 'bg-gray-700']"
      />
    </section>
    <section>
      <tag-input @add-tag="addTag" @delete-tag="deleteTag" :tags="tags"></tag-input>
    </section>
    <!-- <section>
    <base-button mode="flat" :callback="showText">Save as draft</base-button>
    </section>-->
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import firebase from "firebase";
import TagInput from "./widgets/TagInput.vue";
import ImageResize from "quill-image-resize-module";
import ImageCompress from "quill-image-compress";

export default {
  components: { TagInput },
  name: "EditBlog",
  props: ["id", "isLoggedIn"],
  data() {
    return {
      title: "",
      blogContent: {},
      blogId: this.id,
      tags: [],
      options: {
        placeholder: "Create an epic...",
      },
      modules: [
        {
          name: "imageResize",
          module: ImageResize,
        },
        {
          name: "imageCompress",
          module: ImageCompress,
          options: {
            quality: 0.7,
            maxWidth: 3000,
            maxHeight: 3000,
            imageType: "image/jpeg",
            debug: false,
          },
        },
      ],
      headerLinks: [
        {
          title: "Publish",
          link: false,
          to: "",
          callback: this.publishBlog,
        },
      ],
    };
  },
  emits: ["update-header"],
  methods: {
    addTag(tag) {
      this.tags.push(tag);
    },
    deleteTag(tag) {
      const index = this.tags.indexOf(tag);
      if (index > -1) {
        this.tags = [
          ...this.tags.slice(0, index),
          ...this.tags.slice(index + 1),
        ];
      }
    },
    async showText() {
      await this.uploadImagesInContent();
      console.log("Completed");
      console.log(this.blogContent.ops);
    },
    async uploadImagesInContent() {
      for (let i = 0; i < this.blogContent.ops.length; i++) {
        if (
          this.blogContent.ops[i].insert &&
          this.blogContent.ops[i].insert.image
        ) {
          const storageRef = firebase.storage().ref();
          const userRef = storageRef.child(
            `${this.userId()}/${this.blogId}/fig${i}`
          );
          let imgUrl = this.blogContent.ops[i].insert.image;
          let snapshot = await userRef.putString(imgUrl, "data_url");
          let downloadURL = await snapshot.ref.getDownloadURL();
          this.blogContent.ops[i].insert.image = downloadURL;
        }
      }
    },
    async publishBlog() {
      if (this.title.trim().length == 0) {
        return;
      }

      await this.uploadImagesInContent();
      let newBlog = {
        userId: this.userId(),
        userName: this.userName(),
        title: this.title,
        content: this.blogContent,
        likes: 0,
        dislikes: 0,
        commentId: "c1",
        published: true,
        timestamp: Date.now(),
        tags: this.tags,
        id: this.blogId,
      };
      this.$store.dispatch("blogs/createBlog", newBlog);
      this.$router.push("/blogs");
    },
    ...mapGetters("users", {
      userId: "userId",
      userName: "userName",
    }),
  },
  watch: {
    isLoggedIn(value) {
      if (value) {
        this.$emit("update-header", this.headerLinks);
      }
    },
  },
  created() {
    if (this.isLoggedIn) {
      this.$emit("update-header", this.headerLinks);
    }
  },
};
</script>

<style lang="scss">
.ql-editor.ql-blank::before {
  color: white !important;
}
.ql-toolbar.ql-snow {
  background-color: white !important;
}
</style>
