<template>
  <div class="p-4">
    <div class="py-4 text-xl">Hi User</div>
    <div class="border border-white/25 w-min-full"></div>
    <base-card>
      <div class="py-4">Your Blogs</div>
      <ul v-if="hasBlogs">
        <blog-item v-for="blog in myBlogs" :key="blog.id" :likes="blog.likes" :dislikes="blog.dislikes"
          :title="blog.title" :tags="blog.tags" :id="blog.id" :userName="blog.userName" :timestamp="blog.timestamp"
          :isEditable="true">
        </blog-item>
      </ul>
      <h3 v-else class="text-xl font-semibold text-center w-full my-16">
        No Blogs Found.
      </h3>
    </base-card>
  </div>
</template>

<script setup>
import { ref, computed, watch } from 'vue';
import { useStore } from 'vuex';
import BlogItem from "./../blogs/widgets/BlogItem.vue";

const props = defineProps(["id", "isLoggedIn"]);
const emit = defineEmits(["update-header"]);

const store = useStore();
const headerLinks = ref([
  {
    title: "Create Blog",
    link: true,
    to: "/createblog",
    callback: null,
  },
  {
    title: "My Profile",
    link: true,
    to: "/myprofile",
    callback: null,
  },
]);

function fetchBlogs() {
  store.dispatch("blogs/fetchBlogs");
}

const myBlogs = computed(() => {
  return store.getters["blogs/blogs"]
    .filter((blog) => {
      let userId = store.getters["users/userId"];
      return blog.userId === userId;
    });
});

const hasBlogs = computed(() => {
  return myBlogs.value.length > 0;
});

watch(() => props.isLoggedIn, (value) => {
  if (value) {
    emit("update-header", headerLinks.value);
  }
});

if (props.isLoggedIn) {
  emit("update-header", headerLinks.value);
}

fetchBlogs();
</script>

<style lang="scss">
</style>