<template>
  <base-card>
    <span>
      <input type="text" placeholder="Search blogs" name="searchbox" v-model="searchFilter" @input="setFilter"
        class="w-full outline-none bg-transparent" />
    </span>
  </base-card>
</template>

<script setup>
import { ref } from 'vue';

const searchFilter = ref("");
const emit = defineEmits(['change-filter'])

function setFilter(_) {
  emit("change-filter", searchFilter.value.toLowerCase());
}
</script>