<template>
  <div class="border-none flex flex-row flex-wrap">
    <div v-for="tag in tags" :key="tag" class="mb-1">
      <base-badge :title="tag" isClearable @clear-callback="clearTag"></base-badge>
    </div>
    <input type="text" :disabled="!canAddTags" :placeholder="
      canAddTags
        ? `Enter upto ${tagsLeft} ${tagsLeft === 5 ? '' : 'more '}tag${tagsLeft === 1 ? '' : 's'
        }.`
        : `&larr; Can't add more tags. Delete to replace!`
    " class="
        flex-1
        mb-1
        px-4
        text-sm
        outline-none
        bg-transparent
        placeholder-white
      " v-model="currentTag" @keyup.enter="addTag" />
  </div>
</template>
<script setup>
import { ref, computed } from 'vue';

const props = defineProps(['tags']);
const emit = defineEmits(['add-tag', 'delete-tag']);

const currentTag = ref('');

const canAddTags = computed(() => {
  return props.tags.length < 5;
});

const tagsLeft = computed(() => {
  return 5 - props.tags.length;
});

function addTag() {
  if (currentTag.value.trim().length > 0) {
    emit("add-tag", currentTag.value);
    currentTag.value = "";
  }
}

function clearTag(tag) {
  emit("delete-tag", tag);
}
</script>
<style scoped>
.tag-input__tag {
  margin-right: 10px;
  background-color: #eee;
  margin-top: 10px;
  padding: 0 5px;
}

.tag-input__tag>span {
  cursor: pointer;
  opacity: 0.75;
}
</style>