<template>
  <section class="text-center">
    <base-header title="TheToxify" :navItems="navItems" :version="appVersion"></base-header>
  </section>
  <section class="flex flex-col justify-start min-h-screen">
    <router-view v-slot="{ Component }">
      <transition name="fade" mode="out-in">
        <component :is="Component" @update-header="updateHeader" :isLoggedIn="isLoggedIn" />
      </transition>
    </router-view>
  </section>
</template>

<script setup>
import { ref } from 'vue';
import firebase from "firebase";
import { version } from "./../../../package";
import { useStore } from 'vuex';
import { useRouter } from 'vue-router';

const router = useRouter()
const appVersion = ref(version);
const isLoggedIn = ref(false);
const navItems = ref([
  {
    title: "Login",
    link: false,
    to: "",
    callback: googleSignIn,
  },
]);
const store = useStore();

firebase.auth().onAuthStateChanged(async (user) => {
  if (user) {
    let accessToken = await user.getIdToken();
    isLoggedIn.value = true; // if we have a user
    store.dispatch("users/setUser", {
      displayName: user.displayName,
      email: user.email,
      photoURL: user.photoURL,
      userId: user.uid,
      accessToken: accessToken,
    });
  } else {
    isLoggedIn.value = false; // if we do not
    store.dispatch("users/logout");
    navItems.value = [
      {
        title: "Login",
        link: false,
        to: "",
        callback: googleSignIn,
      },
    ];
    router.push({ path: '/', replace: true })
  }
});

function googleSignIn() {
  let provider = new firebase.auth.GoogleAuthProvider();
  provider.setCustomParameters({
    prompt: "select_account",
  });
  firebase
    .auth()
    .signInWithPopup(provider)
    .then((result) => {
      /** @type {firebase.auth.OAuthCredential} */
      var credential = result.credential;

      // This gives you a Google Access Token. You can use it to access the Google API.
      var token = credential.accessToken;
      // The signed-in user info.
      var user = result.user;
      // ...
    })
    .catch((error) => {
      // Handle Errors here.
      var errorCode = error.code;
      var errorMessage = error.message;
      // The email of the user's account used.
      var email = error.email;
      // The firebase.auth.AuthCredential type that was used.
      var credential = error.credential;
      console.error(error);
      // ...
    });
}

function googleSignOut() {
  firebase.auth().signOut();
}

function updateHeader(data) {
  navItems.value = [
    ...data,
    {
      title: "Logout",
      link: false,
      to: "",
      callback: googleSignOut,
    },
  ];
}
</script>

<style>
.fade-enter-active,
.fade-leave-active {
  transition: transform 0.45s ease, opacity 0.45s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-from {
  transform: translateX(10rem);
}

.fade-leave-to {
  transform: translateX(-10rem);
}
</style>
