<template>
  <div class="bg-gray-50 min-h-screen bg-hero-background text-white">
    <section class="container mx-auto py-5 max-w-6xl sm:mx-auto">
      <Home />
    </section>
  </div>
</template>

<script setup>
import Home from "./components/home/Home.vue";
</script>
