<template>
  <span v-if="!isClearable" class="badge text-white bg-black">
    {{ title }}
  </span>
  <div v-else class="badge text-white flex items-center" :class="{ 'bg-black': !isHover, 'bg-red-700': isHover }">
    <div @click="clearCallBack(title)" @mouseover="setHover" @mouseleave="unsetHover"
      class="cursor-pointer clearOnHover">
      x
    </div>
    &nbsp;
    <div class="w-max">{{ title }}</div>
  </div>
</template>

<script setup>
import { ref } from 'vue';

defineProps({
  title: {
    type: String,
    required: true,
    default: "",
  },
  isClearable: {
    type: Boolean,
    required: false,
    default: false,
  },
});

const emit = defineEmits(['clear-callback']);

const isHover = ref(false);
function clearCallBack(title) {
  emit("clear-callback", title);
}
function setHover() {
  isHover.value = true;
}
function unsetHover() {
  isHover.value = false;
}
</script>

<style lang="scss">
.badge {
  font-size: 0.9rem;
  border-radius: 10px;
  padding: 0.3rem 0.5rem;
  margin-right: 0.5rem;
}
</style>