<template>
  <button v-if="!link" :class="[mode, 'outline-none']" @click="callback">
    <slot></slot>
  </button>
  <router-link v-else :to="to" :class="mode">
    <slot></slot>
  </router-link>
</template>

<script setup>
defineProps({
  mode: {
    type: String,
    required: false,
    default: null,
  },
  link: {
    type: Boolean,
    required: false,
    default: false,
  },
  to: {
    type: String,
    required: false,
    default: "/",
  },
  callback: {
    type: Function,
    required: false,
    default: null,
  },
});
</script>

<style lang="scss" scoped>
button,
a {
  text-decoration: none;
  padding: 0.75rem 1rem;
  font: inherit;
  background-color: #fff;
  border: 1px solid #fff;
  color: white;
  cursor: pointer;
  border-radius: 30px;
  margin-right: 0.5rem;
  display: inline-block;

  &:hover,
  &:active {
    background-color: #fff;
    border-color: #fff;
  }
}

.flat {
  background-color: transparent;
  color: #fff;
  border: none;

  &:hover,
  &:active {
    background-color: #000;
  }
}

.outline {
  background-color: transparent;
  border-color: #fff;
  color: #fff;

  &:hover,
  &:active {
    background-color: #000;
  }
}
</style>