<template>
  <div class="flex flex-row justify-between items-center mb-5">
    <div class="text-4xl font-medium pl-3">
      <router-link to="/">{{ title }}</router-link>
      <span class="text-xs">v{{ version }}</span>
    </div>
    <div v-if="showNavBar" class="flex-none">
      <base-button v-for="navItem in navItems" :key="navItem.title" mode="flat" :to="navItem.to" :link="navItem.link"
        :callback="navItem.callback">
        {{ navItem.title }}
      </base-button>
    </div>
  </div>
</template>

<script setup>
import { computed } from 'vue';
const props = defineProps({
  title: {
    type: String,
    default: "",
    required: true,
  },
  navItems: {
    type: Array,
    default: [],
    required: false,
  },
  version: {
    type: String,
    default: "0.0.0",
    required: true,
  },
});

const showNavBar = computed(() => {
  return props.navItems.length > 0;
});
</script>
